.intro
	margin 0 auto
	height 100vh
	&__hed
		max-width 60rem
		margin 0 auto
		padding-top 5rem
		font-weight 400
		text-align center
		set-type-size('xx-large', true)


	&__byline
		max-width $column-width
		margin 0 auto
		text-align center
		set-type-size('small', true)
		margin-bottom 5rem
		a
			border-bottom 1px solid #E14018

	&__dek
		max-width $column-width
		margin 0 auto
		padding-top 1.5rem
		text-align center
		set-type-size('medium', true)
