.intro-image
  margin-top 100px
.centered
  p
    text-align center
    margin 0px
    background white
    margin 0 auto
    //position absolute
    z-index 1000
    width 300px
    font-size 14px
    text-align center
    padding 10px 10px
    //top 50%
    //left 50%
    //transform translate(-100%,0%)
    border-radius 5px
    box-shadow 0px 3px 3px 1px rgba(0, 0, 0, 0.11)
    font-family 'Atlas Grotesk Web'
    border 1px solid #d0cccc
header
  background none

header.is-sticky
  background #f7f7f7
  position relative
  box-shadow none
  .intro__byline
    position absolute
    top 1rem
    left 1rem
    padding 0rem
    margin 0rem
    color #706677
    font-size 13px
    line-height .9
    a
      color #706677
      border-bottom 1px solid #706677
      font-size 13px
  .logo
    svg
      fill rgba(90, 78, 82, 0.58)

body
  background #f7f7f7
  height auto
  overflow-x hidden
  .pudding-footer
    background #f7f7f7


.prose-container
  max-width 530px
  width 95%
  margin 0 auto
  p
    color #5a4e52
    font-family 'Atlas Grotesk Web'
    font-weight 400

.intro
  background linear-gradient(#f7f7f7 87%, #ffffff00 100%)
  margin-bottom -100px
  z-index 100
  position relative
  padding-bottom 100px
  .intro-sub
    max-width 700px
    width 95%
    margin 0 auto
    display none
    p
      color #5a4e52
      font-family 'Atlas Grotesk Web'
      font-weight 400
      margin 0
      font-size 18px
      text-align center
  .intro-text
    max-width 530px
    width 95%
    margin 0 auto
    p
      color #5a4e52
      font-family 'Atlas Grotesk Web'
      font-weight 400
  .intro__hed
    color #772521
    font-size 80px
    margin-bottom 50px
.scroll
  position relative
  display flex
  margin-bottom 500px
  .scroll__text
    position relative
    z-index 10
    width 100%
    .step
      height 600px
      &:first-of-type
        margin-top 300px
      &:last-of-type
        height 400px
      p
        background white
        margin 0 auto
        //position absolute
        z-index 1000
        width 300px
        font-size 14px
        text-align center
        padding 10px 10px
        //top 50%
        //left 50%
        //transform translate(-100%,0%)
        border-radius 5px
        box-shadow 0px 3px 3px 1px rgba(0, 0, 0, 0.11)
        font-family 'Atlas Grotesk Web'
        border 1px solid #d0cccc
        .red
          background rgba(243, 156, 105, 0.658)
          padding 0 5px
          font-weight 500
  .scroll__graphic
    position absolute
    top 0px
    width 100%
    left 0px
    z-index 0
    #map
      height 100vh
      width 100%

.image-wrapper
  //width 100%
  //display flex
  //flex-wrap wrap
  height auto
  margin-top 5rem
  .single-year-wrapper
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%
    margin 0 auto
    .img-wrapper
      padding-bottom 50px
      position relative
      width 100%
      .text-column
        max-width 550px
        margin 0 auto
        margin-top 2rem
        .city-name
          font-family 'Atlas Grotesk Web'
          text-align left
          font-size 36px
          font-weight 300
          margin 0px
          color #333
          width 100%
          font-weight 400
          line-height 1.4

        .city-desc
          font-size 16px
          color #667177
          font-family 'Atlas Grotesk Web'

      .swiper-container
        //width calc(97.5% - 180px)
        //margin-left 200px
        width 90%
        max-width 920px
        position relative
        //overflow visible
        .swiper-wrapper
          .swiper-slide
            .border-div
              position absolute
              top 0px
              left 0px
              display block
              left 0px
              right 0px
              margin 0 auto
              top 50%
              transform translate(0,calc(-50% - 20px))
              border 3px solid rgba(0, 0, 0, 0.40)
            &:first-of-type
              .border-div
                border 2px solid #9A9898
                top 0px
                left 0px
                transform none
        .fraction
          position absolute
          top 15px
          right 15px
          z-index 100
          font-family 'Atlas Grotesk Web'
          background rgba(0,0,0,.7)
          font-size 12px
          font-weight 600
          padding 0 5px
          margin 0px
          color white
          border-radius 5px
        .city-toggles
          display flex
          position absolute
          bottom 0px
          z-index 100
          margin-left 2px
          .city-toggle
            background white
            border 1px solid #c7c7c7
            margin-left -1px
            cursor hand
            cursor pointer
            &:first-of-type
              border-top-left-radius 5px
              border-bottom-left-radius 5px
            &:last-of-type
              border-top-right-radius 5px
              border-bottom-right-radius 5px
            .city-toggle-text
              font-family 'Atlas Grotesk Web'
              font-size 13px
              line-height 1.5
              padding 3px 7px
              margin 0px
              text-transform capitalize
          .city-toggle-active
            box-shadow inset 0 3px 5px rgba(0,0,0,.125)
            background #F5F5F5
            font-weight 500
        .swiper-pagination
          bottom 0px
          height 30px
          padding-top 6px
          position absolute
          background #f7f7f7
          span
            width 12px
            height 12px
        img
          display block

  .years-wrapper
    display flex
    width 100%
    justify-content space-between
    margin-bottom 1.2rem
    img
      //width 100%
      display block
      width auto


.mapboxgl-ctrl.mapboxgl-ctrl-attrib
  background-color #F7F7F7

.mapboxgl-ctrl
  a
    border none
  &:after
    display none


.globe-wrapper
  position absolute
  bottom 40px
  right 10px
  //opacity .5
  .globe-wrapper-svg-container
    position absolute
    width 20px
    svg
      transform translate(-50%,-100%)
      path
        fill #d84846
