/* CUSTOM STORY STYLE */

header
  background none

header.is-sticky
  background #f7f7f7
  position relative
  box-shadow none
  .intro__byline
    position absolute
    top 1rem
    left 1rem
    padding 0rem
    margin 0rem
    color #706677
    font-size 13px
    line-height .9
    a
      color #706677
      border-bottom 1px solid #706677
      font-size 13px
  .logo
    svg
      fill rgba(112, 102, 119, 0.4196078431372549)

body
  background #f7f7f7
  height auto
  overflow-x hidden
  .pudding-footer
    background #f7f7f7

.intro
  background linear-gradient(#f7f7f7 87%, #ffffff00 100%)
  margin-bottom -100px
  z-index 100
  position relative
  padding-bottom 100px
  .intro-text
    width 530px
    margin 0 auto
    p
      color #706677
      font-family 'Atlas Grotesk Web'
      font-weight 400
  .intro__hed
    color #772521
    font-size 80px
    margin-bottom 30px
.scroll
  position relative
  display flex
  margin-bottom 500px
  .scroll__text
    position relative
    z-index 10
    width 100%
    .step
      height 600px
      &:first-of-type
        margin-top 300px
      p
        background white
        margin 0 auto
        //position absolute
        z-index 1000
        width 300px
        font-size 14px
        text-align center
        padding 10px 10px
        //top 50%
        //left 50%
        //transform translate(-100%,0%)
        border-radius 5px
        box-shadow 0px 3px 3px 1px rgba(0, 0, 0, 0.11)
        font-family 'Atlas Grotesk Web'
        border 1px solid #d0cccc
  .scroll__graphic
    position absolute
    top 0px
    width 100%
    left 0px
    z-index 0
    #map
      height 100vh
      width 100%

.image-wrapper
  //width 100%
  //display flex
  //flex-wrap wrap
  height auto
  .single-year-wrapper
    display flex
    flex-wrap wrap
    justify-content space-between
    max-width 900px
    margin 0 auto
    .img-wrapper
      margin-bottom 20px
      position relative
      .city-name
        padding 10px 10px
        font-family 'Atlas Grotesk Web'
        text-align left
        font-size 12px
        margin 0px
        background #f1efef
        position absolute
        color #333
        bottom 0px
        width 100%
        left 0px
        font-weight 300
        line-height 1.4
        span
          font-weight 500
          font-size 13px
          margin-right 5px



      img
        display block
        width auto

  .years-wrapper
    display flex
    width 100%
    justify-content space-between
    margin-bottom 1.2rem
    img
      //width 100%
      display block
      width auto
