.recirculation-container
  background #f2ece0
  padding-top 50px
  padding-bottom 50px
  .recirculation-container-title
      font-family 'Atlas Grotesk Web'
      text-align center
      margin 0 auto
      font-weight 500
      margin-bottom 20px
      color #755821
      font-size 36px
  .recirculation-wrapper
    display flex
    flex-wrap wrap
    justify-content space-between
    width 90%
    margin 0 auto


.footer-social
  display none

.title-break
  font-size 24px
  margin-bottom 40px
  margin-top 50px
  display block

.loading-overlay
  position absolute
  width 100%
  height 100%
  top 0px
  left 0px
  background #F7F7F7
  display flex
  flex-direction column
  justify-content center
  p
    text-align center
    margin 0px
    font-family 'Atlas Grotesk Web'
    font-size 18px
  .percent
    font-weight 500
    font-size 24px
.map-hidden
  height 100%
  overflow hidden

.map-not-loaded
  text-align center

.break
  width 100px
  height 2px
  background linear-gradient(90deg, #ca2e2a 30%, #ee9d6d 100%)
  margin 0 auto
  margin-bottom 40px
  margin-top 40px
  opacity .8


.intro-image
  margin 0 auto
  margin-top 100px
  max-width 1280px
  margin-bottom 50px

.chart-title
  font-family 'Atlas Grotesk Web'
  font-weight 500
  text-align center
  font-size 14px
  margin 0px
  margin-top 50px
  margin-bottom 30px

.intro-image-two
  display flex
  margin-bottom 70px
  justify-content space-between
  flex-wrap wrap
  div
    width calc(50%)
    height calc(50%)
    position relative
    &:before
      position absolute
      content ''
      box-sizing border-box
      border 1px solid rgba(0, 0, 0, 0.10)
      width 100%
      height 100%
      display block
      z-index 100
    &:first-of-type,&:nth-of-type(3)
      &:before
        border-left none
    &:last-of-type,&:nth-of-type(2)
      &:before
        border-right none
    &:first-of-type,&:nth-of-type(2)
      &:before
        border-top 2px solid rgba(0, 0, 0, 0.10)
    &:last-of-type,&:nth-of-type(3)
      &:before
        border-bottom 2px solid rgba(0, 0, 0, 0.10)
    img

      position relative
      //border 2px solid #c7c7c7
.centered
  p
    text-align left
    //margin 0px
    //background white
    font-size 16px
    margin 0 auto
    //position absolute
    //z-index 1000
    //width 300px
    //padding 10px 10px
    //top 50%
    //left 50%
    //transform translate(-100%,0%)
    //border-radius 5px
    //box-shadow 0px 3px 3px 1px rgba(0, 0, 0, 0.11)
    font-family 'Atlas Grotesk Web'
    //border 1px solid #d0cccc
header
  background none

header.is-sticky
  background #262626
  position relative
  box-shadow none
  height 142px
  .header-sub
    font-family 'Atlas Grotesk Web'
    margin 0 auto
    width 560px
    text-align center
    color rgba(255,255,255,.48)
    padding-top 8px
    &:hover
      a

        &:first-of-type
          color #74b76e
          border-color rgba(116,183,110,.2)
        &:nth-of-type(2)
          color #66b4c6
          border-color rgba(102,180,198,.2)
        &:nth-of-type(3)
          color #eac478
          border-color rgba(234,196,120,.2)
        &:nth-of-type(4)
          color #E26C5E
          border-color rgba(226,108,81,.2)
    a
      color rgba(255,255,255,.48)
      border-bottom 1px solid #444444
      transition border-color .3s ease-out,color .3s ease-out
      &:visited
        color rgba(255,255,255,.48)
        border-bottom 1px solid #444444
  .header__toggle
    svg
      stroke white
  .intro__byline
    position absolute
    top 1rem
    left 1rem
    padding 0rem
    margin 0rem
    color #706677
    font-size 13px
    line-height .9
    a
      color #706677
      border-bottom 1px solid #706677
      font-size 13px
  .logo
    width 143px
    padding-top 8px
    svg
      fill white

body
  background #f7f7f7
  height auto
  overflow-x hidden
  .pudding-footer
    background #f7f7f7


.prose-container
  max-width 530px
  width 95%
  margin 0 auto
  p
    color #5a4e52
    font-family 'Atlas Grotesk Web'
    font-weight 400

.intro
  background linear-gradient(#f7f7f7 87%, #ffffff00 100%)
  margin-bottom -100px
  z-index 100
  position relative
  padding-bottom 100px
  .intro-sub
    max-width 700px
    width 95%
    margin 0 auto
    display none
    p
      color #5a4e52
      font-family 'Atlas Grotesk Web'
      font-weight 400
      margin 0
      font-size 18px
      text-align center
  .intro-text
    max-width 530px
    width 95%
    margin 0 auto
    p
      color #5a4e52
      font-family 'Atlas Grotesk Web'
      font-weight 400
  .intro__hed
    color #772521
    font-size 80px
    margin-bottom 20px
    font-family 'Atlas Grotesk Web'
    font-weight 100
    color #E14018
    font-size 100px
.scroll
  position relative
  display flex
  margin-bottom 500px
  .scroll__text
    position relative
    z-index 10
    width 100%
    .step
      height 600px
      &:first-of-type
        margin-top 300px
      &:last-of-type
        height 400px
      p
        background white
        margin 0 auto
        //position absolute
        z-index 1000
        width 300px
        font-size 16px
        color #5a4e52
        text-align left
        padding 10px 10px
        //top 50%
        //left 50%
        //transform translate(-100%,0%)
        border-radius 5px
        box-shadow 0px 3px 3px 1px rgba(0, 0, 0, 0.11)
        font-family 'Atlas Grotesk Web'
        border 1px solid #d0cccc
        .red
          background rgba(221, 75, 69, 0.54)
          padding 0 5px
          color black
          font-weight 400
  .scroll__graphic
    position absolute
    top 0px
    width 100%
    left 0px
    z-index 0
    .legend
      position absolute
      bottom 50px
      width 230px
      padding 5px 10px
      background white
      left 0px
      display flex
      flex-wrap wrap
      z-index 1000
      .legend-title
        width 100%
        font-family 'Atlas Grotesk Web'
        margin 0px
        font-size 11px
        font-weight 500
        margin-bottom 5px
        text-align center
      .legend-box
        width 20%
        .legend-name
          font-size 11px
          font-weight 400
          font-family 'Atlas Grotesk Web'
          text-align center
          margin 0px
        .legend-color
          width 100%
          max-width 40px
          margin 0 auto
          height 10px

          height 10px
          display block
    #map
      height 100vh
      width 100%

.image-wrapper
  //width 100%
  //display flex
  //flex-wrap wrap
  height auto
  margin-top 8rem
  .single-year-wrapper
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%
    margin 0 auto
    .img-wrapper
      margin-bottom 50px
      position relative
      width 100%
      &:first-of-type
        margin-bottom 150px
      &:nth-of-type(1), &:nth-of-type(2)
        margin 0 auto
      .text-column
        max-width 550px
        margin 0 auto
        margin-top 3rem
        .city-name
          font-family 'Atlas Grotesk Web'
          text-align left
          font-size 36px
          font-weight 500
          margin 0px
          color #333
          width 100%
          line-height 1.4

        .city-desc
          font-size 16px
          color #3c3c3c
          font-family 'Atlas Grotesk Web'
          span
            font-weight 500

      .swiper-container
        //width calc(97.5% - 180px)
        //margin-left 200px
        width 90%
        max-width 920px
        position relative
        overflow visible
        &:before
          position absolute
          content ''
          height 40px
          left 0px
          right auto
          bottom 0px
          width 200%
          //width calc((100vw - 920px)/2)
          transform translate(-33%,0)
          background #F7F7F7
          z-index 10
        &:after
          position absolute
          content ''
          height calc(100% - 30px)
          right 0px
          top 0px
          width calc((100vw - 920px)/2)
          transform translate(calc(100%+20px),0)
          background linear-gradient(90deg, rgba(247, 247, 247, 0) 0%, #F7F7F7 100%)
          z-index 1000
        .swiper-wrapper
          .swiper-slide
            position relative
            &:after
              position absolute
              content 'Size scale: 1:4M'
              top calc(100% - 40px)
              left 0px
              background white
              z-index 100
              transform translate(0,-100%)
              width 100px
              margin 0
              padding-bottom 2px
              font-size 11px
              line-height 2
              font-family 'Atlas Grotesk Web'
              text-align center
            &:before
              position absolute
              content 'Loading...'
              top 50%
              left 0px
              right 0px
              margin 0 auto
              text-align center
              transform translate(0,calc(50% - 30px))
              font-family 'Atlas Grotesk Web'
              font-weight 400
              z-index 0
            img
              display block
              position relative
              z-index 100
            .globe-wrapper
              position absolute
              bottom 40px
              z-index 1000
              right 10px
              //opacity .5
              .globe-wrapper-svg-container
                position absolute
                width 20px
                svg
                  transform translate(-50%,-100%)
                  path
                    fill #d84846
            .mask-div
              background #F7F7F7
              position absolute
              z-index 1000
              bottom  0px
              left 0px
              height 30px
              width 100%
            .overlay-div
              position absolute
              z-index 10000
              width 100%
              height 100%
              svg
                width 100%
                height 100%
                path
                  stroke-width 1.5px
                text
                  tspan
                    font-size 14px
                    font-weight 400
                    font-family 'Atlas Grotesk Web'
            .city-title
              position absolute
              top 0px
              left 0px
              font-family 'Atlas Grotesk Web'
              transform translate(0,calc(-100% - 5px))
              margin 0px
              right 0px
              margin 0 auto
              text-align center
              font-size 16px
              font-weight 500
              span
                font-size 14px
                font-weight 400
                margin-left 10px
            .border-div
              position absolute
              top 0px
              left 0px
              display block
              left 0px
              right 0px
              margin 0 auto
              top 50%
              z-index 1000
              border 3px solid rgba(0, 0, 0, 0.55)
              transform translate(0,-50%)
            &:first-of-type
              .border-div
                border 2px solid #9A9898
                top 0px
                left 0px
                transform none
            &:nth-of-type(2)
              &:after
                content 'Size scale: 1:10M'

            &:nth-of-type(3)
              &:after
                content 'Size scale: 1:15M'

            &:nth-of-type(4)
              &:after
                content 'Size scale: 1:35M'
            &:nth-of-type(5)
              &:after
                content 'Size scale: 1:70M'
            &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5)
              .border-div
                opacity .7
                border 1.5px solid rgba(0, 0, 0, 0.55)
        .fraction
          position absolute
          top 15px
          right 15px
          z-index 100
          font-family 'Atlas Grotesk Web'
          background rgba(0,0,0,.7)
          font-size 12px
          font-weight 600
          padding 0 5px
          margin 0px
          color white
          border-radius 5px
        .city-toggles
          display flex
          position absolute
          bottom 0px
          z-index 100
          margin-left 2px
          .city-toggle
            background white
            border 1px solid #c7c7c7
            margin-left -1px
            cursor hand
            cursor pointer
            &:first-of-type
              border-top-left-radius 5px
              border-bottom-left-radius 5px
            &:last-of-type
              border-top-right-radius 5px
              border-bottom-right-radius 5px
            .city-toggle-text
              font-family 'Atlas Grotesk Web'
              font-size 13px
              line-height 1.5
              padding 3px 7px
              margin 0px
              text-transform capitalize
          .city-toggle-active
            box-shadow inset 0 3px 5px rgba(0,0,0,.125)
            background #F5F5F5
            font-weight 500
        .swiper-pagination
          bottom 0px
          height 40px
          padding-top 18px
          position absolute
          background #f7f7f7
          span
            width 11px
            height 11px


  .years-wrapper
    display flex
    width 100%
    justify-content space-between
    margin-bottom 1.2rem
    img
      //width 100%
      display block
      width auto


.mapboxgl-ctrl.mapboxgl-ctrl-attrib
  background-color #F7F7F7

.mapboxgl-ctrl
  a
    border none
  &:after
    display none
