<div class='intro'>



	{{> base/header 'sticky' }}

	<div class="loading-overlay">
		<p>Loading Population Data...</p>
		<p class="percent">0%</p>
	</div>

	<h1 class='intro__hed tk-canela'>Population<br>Mountains</h1>
	<!-- <p class='intro__dek tk-atlas'>{{meta.description}}</p> -->
	<p class='intro__byline tk-atlas'>By
		<a href='https://pudding.cool/author/matt-daniels/' target='_blank'>Matt Daniels</a>
	</p>

	<div class="intro-sub">
		<p>Megacities visualized using population data for every 1,000 square meters.
		</p>
	</div>
	<div class="prose-container">
		<p>This is a story about how to perceive the population of cities.
		</p>
	</div>
	<!-- <div class="intro-text">
		<p>The shape of 13 megacities, using its population for every 1,000 square meters.
		</p>
	</div> -->
</div>

<div class="scroll">
	<div class="scroll__text">
		<div class="step">
			<p>Here is New York City, a region of 18 million people. Each dot represents 1,000 square meters. Deeper shades of <span class="red">red</span> represent more people.
			</p>
		</div>
		<div class="step" id="tilt-shift-step">
			<p>But there’s another way to look at NYC’s population. Let's grow each dot into a 3D block.
			</p>
		</div>
		<div class="step" id="rotate-step">
			<p>The taller the block, the more people. NYC's population now resembles a mountainous terrain.
			</p>
		</div>
	</div>
	<div class="scroll__graphic" id="fixed-map">
		<div class="legend">
		</div>
		<div id="map">
		</div>
	</div>
</div>

<div class="prose-container centered">
	<p>If we zoom out to view the entire world, it looks different than you might expect.
	</p>
</div>

<div class="intro-image">
</div>

<div class="prose-container centered">
	<p>From my perspective (albeit a US-centric one), it was eye-opening to see how the world’s population is so unevenly distributed. For example, compare the West Coast of the United States to Java, an island in Indonesia (home to 140 million people).
	</p>
</div>
<p class="chart-title">Regions at Comparable Scale
</p>
<div class="intro-image-two" id="lazy-trigger">
</div>





<div class="prose-container">
	<p>What stands out is each city’s form, a unique mountain that might be like the steep peaks of lower Manhattan or the sprawling hills of suburban Atlanta. When I first saw a city in 3D, I had a <i>feel</i> for its population size that I had never experienced before.
	</p>
	<p>That feeling goes a long way to improve my own geographic instincts. In 1993, there were 14 cities with over 10 million people. Today, 20 additional cities qualify (and another 11 will by 2030), with many sprouting from farmland in our lifetimes. Unless you’ve visited one of these new cities of 10 million people or tracked its growth closely, its scale can be hard to envision.
	</p>
	<div class="break">
	</div>
	<p>Among them is Kinshasa, Democratic Republic of Congo (13.1 million people), which I now know to be bigger than historically populous cities (see my article <a href="https://pudding.cool/2018/07/airports/">on Kinshasa’s airports vs. other cities’</a>). I saw it outrank Paris (11 million people) in population bar charts and data tables. Yet it wasn’t until I saw the population as a form, rather than a number, that I could appreciate how large Kinshasa had become.
	</p>
	<p>The 3D view left me with a better understanding of the world’s center of “human” mass, especially the weight of Africa and Asia. First, let’s tour a few cities, giving you a sense of what 10 million people “looks like.”
	</p>
</p>
</div>
<div class="image-wrapper">
	<div class="single-year-wrapper">
	</div>
</div>

<div class="methodology">
	<p>This project wields data from the <a href="https://ghslsys.jrc.ec.europa.eu/index.php">Global Human Settlement Layer</a>, which uses “satellite imagery, census data, and volunteered geographic information” to create population density maps.</p>
	<p>In parts of the world where census data is unreliable (e.g., India, China), population density was visibly noisy on the maps.</p>
	<p>Using this data for research purposes has a number of caveats, and most are very well detailed in <a href="https://www.tandfonline.com/doi/full/10.1080/17445647.2017.1400476">this paper in the Journal of Maps</a> by Duncan Smith.</p>
	<p>The data is processed using Google Earth Engine (example script is <a href="https://code.earthengine.google.com/e9e22c289d4a9b3b3b0a39ecdfba261c">here</a>).</p>
	<p>The visualization was inspired by Alasdair Rae’s <a href="http://www.statsmapsnpix.com/2016/10/the-global-human-settlement-layer.html">blog posts</a>, where he explained how to visualize snapshots of the data.</p>
	<p>A more detailed explanation of the data processing is <a href="https://docs.google.com/document/d/1Us_1QBHShdMe8-laKhGh_mjkXxOw-74-9mxJAx_DvKE/edit">here</a>.</p>
</div>
<div class="recirculation-container">
	<p class="recirculation-container-title">Now Read This</p>
	<div class="recirculation-wrapper mobile-only">
		<blockquote class="twitter-tweet" data-width="100%" data-dnt="true" data-lang="en">
			<p lang="en" dir="ltr">
				<a href="https://t.co/e7LqMEgVER">https://t.co/e7LqMEgVER</a>
			</p>
			<a href="https://twitter.com/puddingviz/status/1055505311585497090"></a>
		</blockquote>
		<blockquote class="twitter-tweet" data-width="100%" data-dnt="true" data-lang="en">
			<p lang="en" dir="ltr">
				<a href="https://t.co/xKM5k5VpLN">https://t.co/xKM5k5VpLN</a>
			</p>
			<a href="https://twitter.com/puddingviz/status/1021767623854444544"></a>
		</blockquote>

	</div>
	<div class="recirculation-wrapper desktop-only">
		<blockquote class="twitter-tweet" data-width="47.5%" data-dnt="true" data-lang="en">
			<p lang="en" dir="ltr">
				<a href="https://t.co/e7LqMEgVER">https://t.co/e7LqMEgVER</a>
			</p>
			<a href="https://twitter.com/puddingviz/status/1055505311585497090"></a>
		</blockquote>
		<blockquote class="twitter-tweet" data-width="47.5%" data-dnt="true" data-lang="en">
			<p lang="en" dir="ltr">
				<a href="https://t.co/xKM5k5VpLN">https://t.co/xKM5k5VpLN</a>
			</p>
			<a href="https://twitter.com/puddingviz/status/1021767623854444544"></a>
		</blockquote>
	</div>
</div>
