<div class='intro'>
	<h1 class='intro__hed tk-canela'>Population Mountains</h1>
	<!-- <p class='intro__dek tk-atlas'>{{meta.description}}</p> -->
	<div class="intro-sub">
		<p>Megacities visualized using population data for every 1,000 square meters.
		</p>
	</div>
	<div class="prose-container">
		<p>This is a story about how you might envision a city’s population.</p>
	</div>
	<!-- <div class="intro-text">
		<p>The shape of 13 megacities, using its population for every 1,000 square meters.
		</p>
	</div> -->
</div>

<div class="scroll">
	<div class="scroll__text">
		<div class="step">
			<p>Here is the New York City region, an area of 18 million people. Each dot represents 1,000 square. meters. Dots with a deeper shade of <span class="red">red</span> represent more people.
			</p>
		</div>
		<div class="step" id="tilt-shift-step">
			<p>But there’s another way to look at population. Let's grow each dot into a 3D block.
			</p>
		</div>
		<div class="step" id="rotate-step">
			<p>Taller blocks also represent more people, and you can start to see a city's population as a mountainous terrain.
			</p>
		</div>
	</div>
	<div class="scroll__graphic" id="fixed-map">
		<div id="map">
		</div>
	</div>
</div>

<div class="prose-container centered">
	<p>And taking a step back, it’s a new way to see where we live.</p>
</div>

<div class="intro-image">
</div>

<div class="prose-container">
	<p>When I saw cites from this angle, it was eye-opening.
	</p>
	<p>New York wasn’t just 18 million people—it had a form. Every city was a unique mountain that might be like the steep peaks of lower Manhattan or like the sprawling hills of suburban Atlanta. When I first saw a city in 3D, I had a <i>feel</i> for a city’s size that didn’t exist before.
	</p>
	<p>That feeling goes a long way to improve my own geographic instincts. I know that Kinshasa, DR Congo (13 million) has more people than Paris, France (11 million). But it wasn’t until I saw the population as a form, rather than a number, could I appreciate how large Kinshasa has become in my lifetime.
	</p>
	<p>And this goes for so many nascent metropolises. The world’s population centers are a lot different than 25 years ago. In 1993, there were 14 cities over 10 million people. Today, there are 34, with many of these new megacities sprouting from farmland in our lifetimes.
	</p>
	<p>The shape of these megacities has improved my empathy for the world’s centers of “human” mass, as well as the weight of Asia and Africa on our future. Let’s tour 13 of them.
	</p>
</p>
</div>
<div class="image-wrapper">
	<div class="single-year-wrapper">
	</div>
</div>


<!-- <div class="image-wrapper">
	<img src="https://api.mapbox.com/styles/v1/dock4242/cjnel8krq2ltq2spteciqe2x3/static/121.328322,31.30713,9.1,-51,60/1200x1200?access_token=pk.eyJ1IjoiZG9jazQyNDIiLCJhIjoiY2pjazE5eTM2NDl2aDJ3cDUyeDlsb292NiJ9.Jr__XbmAolbLyzPDj7-8kQ" alt="">
</div> -->

<!-- <div class="image-wrapper">
	<img src="https://api.mapbox.com/styles/dock4242/cjma1k7135xfl2smsicki0ned/,,14.25,0,60/600x600?access_token=pk.eyJ1IjoiZG9jazQyNDIiLCJhIjoiY2pjazE5eTM2NDl2aDJ3cDUyeDlsb292NiJ9.Jr__XbmAolbLyzPDj7-8kQ" alt="">
</div> -->
