<div class='intro'>
	<h1 class='intro__hed tk-canela'>Population<br>Mountains</h1>
	<!-- <p class='intro__dek tk-atlas'>{{meta.description}}</p> -->
	<p class='intro__byline tk-atlas'>By
		<a href='https://pudding.cool/author/matt-daniels/' target='_blank'>Matt Daniels</a>
	</p>

	<div class="intro-sub">
		<p>Megacities visualized using population data for every 1,000 square meters.
		</p>
	</div>
	<div class="prose-container">
		<p>This is a story about how to envision the population size of cities.
		</p>
	</div>
	<!-- <div class="intro-text">
		<p>The shape of 13 megacities, using its population for every 1,000 square meters.
		</p>
	</div> -->
</div>

<div class="scroll">
	<div class="scroll__text">
		<div class="step">
			<p>Here is New York City, a region of 18 million people. Each dot represents 1,000 square meters. Deeper shades of <span class="red">red</span> represent more people.
			</p>
		</div>
		<div class="step" id="tilt-shift-step">
			<p>But there’s another way to look at NYC’s population. Let's grow each dot into a 3D block.
			</p>
		</div>
		<div class="step" id="rotate-step">
			<p>The taller the block, the more people. NYC's population now resembles a mountainous terrain.
			</p>
		</div>
	</div>
	<div class="scroll__graphic" id="fixed-map">
		<div class="legend">
		</div>
		<div id="map">
		</div>
	</div>
</div>

<div class="prose-container centered">
	<p>Zoom out and the world looks different than you might expect—a new way to see where we live.
	</p>
</div>

<div class="intro-image">
</div>

<div class="prose-container">
	<p>When I saw cites from this perspective, it was eye-opening.
	</p>
	<p>New York wasn’t just 18 million people—it had a form. Every city was a unique mountain that might be like the steep peaks of lower Manhattan or the sprawling hills of suburban Atlanta. When I first saw a city in 3D, I had a <i>feel</i> for a city’s size that didn’t exist before.
	</p>
	<div class="break">

	</div>
	<p>This feeling goes a long way to improve my own geographic instincts. In 1993, there were 14 cities over 10 million people. Today, 20 more cities qualify, with many sprouting from farmland in our lifetimes. Unless you’ve visited or tracked its growth closely, the scale of a new, 10 million-person city can be hard to believe.
	</p>
	<p>Among them is Kinshasa, DR Congo (13 million people), which I now know to be bigger than historically familiar cities. I had seen it outrank Paris (11 million people) in population bar charts and data tables. Yet it wasn’t until I saw the population as a form, rather than a number, could I appreciate how large Kinshasa had become.
	</p>
	<p>The 3D view left me with a better appreciation for the world’s center of “human” mass, especially the weight of Africa and Asia. Let’s tour 13 megacities and the “form” of their present-day populations.
	</p>
</p>
</div>
<div class="image-wrapper">
	<div class="single-year-wrapper">
	</div>
</div>


<!-- <div class="image-wrapper">
	<img src="https://api.mapbox.com/styles/v1/dock4242/cjnel8krq2ltq2spteciqe2x3/static/121.328322,31.30713,9.1,-51,60/1200x1200?access_token=pk.eyJ1IjoiZG9jazQyNDIiLCJhIjoiY2pjazE5eTM2NDl2aDJ3cDUyeDlsb292NiJ9.Jr__XbmAolbLyzPDj7-8kQ" alt="">
</div> -->

<!-- <div class="image-wrapper">
	<img src="https://api.mapbox.com/styles/dock4242/cjma1k7135xfl2smsicki0ned/,,14.25,0,60/600x600?access_token=pk.eyJ1IjoiZG9jazQyNDIiLCJhIjoiY2pjazE5eTM2NDl2aDJ3cDUyeDlsb292NiJ9.Jr__XbmAolbLyzPDj7-8kQ" alt="">
</div> -->
