<div class='intro'>
	<h1 class='intro__hed tk-canela'>Population Mountains</h1>
	<!-- <p class='intro__dek tk-atlas'>{{meta.description}}</p> -->
	<div class="intro-text">
		<p>The world’s population centers are a lot different than 25 years ago. In 1993, there were 14 cities over 10 million people. Today, there are 34, with many of these new “megacities” sprouting from farmland in our lifetimes.</p>
		<!-- <p>It’s happened so fast that our own geography insticts—what we learned in school—is at odds with reality.</p> -->
		<p>Rather than list off the new metropolises, I want to show you what 10 million people <b>looks like</b> differently than what you're used to.</p>

	</div>
</div>

<div class="scroll">
	<div class="scroll__text">
		<div class="step">
			<p>On the map, each dot represents 1,000 sq. meters, and areas with more people are a deeper shade of <span class="red">red</span>.</p>
		</div>
		<div class="step" id="tilt-shift-step">
			<p>I think we can do better. Let's grow these areas into a mountainous terrain of population.</p>
		</div>
		<div class="step" id="rotate-step">
			<p>Now, taller blocks also represent more people, and we can start to see a city's population as it's <b>shape.</b></p>
		</div>
	</div>
	<div class="scroll__graphic" id="fixed-map">
		<div id="map">
		</div>
	</div>
</div>
<div class="prose-container">
	<p>Seeing New York City from this angle was eye-opening, but it’s hard to describe why.</p>
	<p>I think it’s related to our empathy for numbers. The Lake Victoria basin has 30 million people. The Pearl River Delta has 50 million. But I can’t really see it. I default to wrongly assuming that 50 million people is something like a row of New Yorks, perched next to one another. 1 billion feels so ephemeral that it’s hard to even fathom.</p>
	<p>The reality is that every city has a different shape—a unique mountain that might be like the steep peaks of lower Manhattan or like the sprawling hills of suburban Atlanta. When I first saw a city in 3D, I had a <i>feel</i> for a city’s size that didn’t exist before.</p>
	<p>That feeling goes a long way to improve my geographic instincts and the world’s human centers of mass. Let’s return to some of 34 new “megacities” I mentioned earlier and try to see what makes each terrain unique.
</p>
</div>
<div class="image-wrapper">
	<div class="single-year-wrapper">
	</div>
</div>


<!-- <div class="image-wrapper">
	<img src="https://api.mapbox.com/styles/v1/dock4242/cjnel8krq2ltq2spteciqe2x3/static/121.328322,31.30713,9.1,-51,60/1200x1200?access_token=pk.eyJ1IjoiZG9jazQyNDIiLCJhIjoiY2pjazE5eTM2NDl2aDJ3cDUyeDlsb292NiJ9.Jr__XbmAolbLyzPDj7-8kQ" alt="">
</div> -->

<!-- <div class="image-wrapper">
	<img src="https://api.mapbox.com/styles/dock4242/cjma1k7135xfl2smsicki0ned/,,14.25,0,60/600x600?access_token=pk.eyJ1IjoiZG9jazQyNDIiLCJhIjoiY2pjazE5eTM2NDl2aDJ3cDUyeDlsb292NiJ9.Jr__XbmAolbLyzPDj7-8kQ" alt="">
</div> -->
